# Dependencies
node_modules/

# Build outputs
dist/
src-tauri/target/

# Tauri
src-tauri/WixTools/

# Environment
.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db
